@use "@/styles/variables" as *;

.dropDown {
  height: 100%;
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
    cursor: pointer;
    padding: $spacing-8 $spacing-12;
    background: var(--back-color-second);
    border-radius: $border-radius;
    height: 100%;

    &_second {
      background: var(--back-color);
    }
  }
  &__options {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: clamp(200px, 100%, 100%);
    display: flex;
    flex-direction: column;
    background: var(--back-color-second);
    border-radius: $border-radius;
    border: 1px solid var(--back-color);
    z-index: $z-index-20;
    overflow: hidden;
    box-shadow: var(--shadow);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;

    &_open {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__option {
    padding: $spacing-8 $spacing-16;
    cursor: pointer;
    transition: background 0.2s;
    user-select: none;

    &:hover {
      background: var(--back-color);
    }
  }
}
