@use "@/styles/variables" as *;
@use "@/styles/mixins";

.filters {
  display: flex;
  gap: $spacing-12;
  width: 100%;
  align-items: center;

  @include mixins.media-max-width($breakpoint-s) {
    flex-direction: column;
    align-items: stretch;
  }

  &__input {
    flex: 1;
  }
  &__dropDown {
    height: 100%;
  }
}
