@use "@/styles/variables" as *;
@use "@/styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: $spacing-12;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  background-color: var(--back-color);
  border-radius: $border-radius;
  box-shadow: var(--shadow);

  &_modal {
    box-shadow: none;
    padding: 0;
  }

  @include mixins.media-max-width($breakpoint-s) {
    box-shadow: none;
  }
}
