$text-color-static: #fff;

$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1440px;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-40: 40px;

$border-radius: 0px;

$z-index-0: 0;
$z-index-10: 10;
$z-index-20: 20;
