@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.error {
  @include center();
  flex-direction: column;
  gap: 20px;
  text-align: center;
  min-height: 100%;
  padding-inline: $spacing-8;

  &__icon {
    animation: pulse 2s infinite alternate cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &__link {
    display: flex;
    gap: 10px;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}
