@use "@/styles/themeColors";
@use "@/styles/variables" as *;

:root {
  @include themeColors.theme-light;
}
:root.light-theme {
  @include themeColors.theme-light;
}
:root.dark-theme {
  @include themeColors.theme-dark;
}
@media (prefers-color-scheme: dark) {
  :root {
    @include themeColors.theme-dark;
  }
}

:root {
  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--back-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-loading-skeleton {
  --base-color: var(--disabled-color);
  --highlight-color: var(--secondary-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

ul {
  list-style: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  -webkit-overflow-scrolling: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}
