@use "@/styles/variables" as *;

.input {
  &__wrapper {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: $spacing-8;
    padding-inline: $spacing-16;
    outline: none;
    background-color: var(--back-color-second);
    border-radius: $border-radius;
    border: 1px solid var(--back-color-second);
    transition:
      box-shadow 0.2s,
      border-color 0.2s;

    @media (hover: hover) {
      &:hover:not(:has(input:disabled)) {
        box-shadow: var(--shadow);
      }
    }
    &:focus-within {
      border-color: var(--accent-color);
      box-shadow: var(--shadow);
    }
    &:has(input:disabled) {
      background-color: var(--disabled-color);
      border-color: var(--disabled-color);
      cursor: not-allowed;
    }
  }

  &__field {
    padding-block: $spacing-12;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    color: var(--primary-color);
    background-color: transparent;

    &::placeholder {
      color: var(--secondary-color);
    }
    &:disabled {
      color: var(--secondary-color);
      cursor: not-allowed;
    }
  }

  &__field:disabled ~ &__afterSlot {
    opacity: 0.5;
  }
}
