@use "@/styles/mixins";
@use "@/styles/variables" as *;

.list {
  display: flex;
  flex-direction: column;
  gap: $spacing-40;
  width: 100%;

  &__items {
    @include mixins.gridContainer();
    overflow: visible !important;
  }
  &__title {
    display: flex;
    gap: $spacing-20;
  }
  &__totalProducts {
    vertical-align: text-top;
  }
  &__endMessage {
    grid-column: 1 / -1;
    text-align: center;
  }
}
