@use "@/styles/mixins";
@use "@/styles/variables" as *;

.productsList {
  &__container {
    @include mixins.container(100px) {
      display: flex;
      flex-direction: column;
      gap: $spacing-40;
      width: 100%;
    }
  }
}
