@use "@/styles/variables" as *;

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-40;

  &__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-24;

    * {
      width: 100%;
      text-align: left;
    }
  }
  &__btns {
    display: flex;
    gap: $spacing-40;
  }

  &__cartControls {
    display: flex;
    align-items: center;
    gap: $spacing-12;
  }
  &__cartControlBtn {
    padding: $spacing-16;
    padding-bottom: calc($spacing-16 - 5px);
  }
}
