@use "@/styles/variables" as *;

.cartItem {
  display: flex;
  gap: $spacing-20;
  padding: $spacing-16;
  background: var(--back-color-second);
  border-radius: $border-radius;
  position: relative;
  cursor: pointer;
  transition:
    box-shadow 0.2s,
    transform 0.2s;

  @media (hover: hover) {
    &:hover {
      box-shadow: var(--shadow);
      transform: scale(1.03);
    }
  }
  @media (hover: none) {
    &:active {
      box-shadow: var(--shadow);
      transform: scale(1.02);
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
  }
  &__discount {
    font-size: 16px;

    * {
      font-size: inherit;
    }
  }
  &__btn_remove {
    align-self: flex-start;
    padding: $spacing-12;

    p {
      font-size: 14px;
    }
  }
}
