@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.cartItem {
  display: grid;
  grid-template-columns: 100px 1fr auto;
  align-items: center;
  gap: $spacing-20;
  padding: $spacing-16;
  background: var(--back-color-second);
  border-radius: $border-radius;

  @include media-max-width($breakpoint-m) {
    grid-template-columns: 100px 10fr;
  }

  &__image {
    width: 100px;
    height: 100px;
    border-radius: $border-radius;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-8;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: $spacing-16;
  }
}
